html,
body {
  height: 100%;
}

.container{
  width:800px;
  margin: 10px auto;
  padding: 10px;
}

  .child { 
    float: left;
    width: 348px;
    height: 166px;
    border: 1px dashed #ccc;
    margin-right: 50px;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);

        } 
        h1, h2{ 
            text-align:center; 
            color:green; 
            font-style:normal; 
            letter-spacing: 10px;

        } 
              
       .time{
             background-color: white;
    font: icon;
    font-variant: all-small-caps;
    color: firebrick;
    font-size: large;
    padding-left: 21px;

        }
        
 .heading {
        width: 100%;
        line-height: 2em;
        background-color: #3F89A5;
        font-weight: normal;
        color: white;
        text-indent: 0.5em;
        font-weight: bold;
         margin-top: 0px;
       
    }

    .list-style {
        list-style-image: url('imgs/arrow-left.png');
        text-align: justify;
        padding-left: 20px;
        text-transform: capitalize;
    }
     .info {
       width:800px;
        border: 1px dashed #ccc;
        margin: 20px;
        background: #f9f9f9;
        background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
        background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
        background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
        background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
        background: linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    }
